<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143325030784-n8k68olpkrlaatkd26f9r38tg1q6dqi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143325030784-n8k68olpkrlaatkd26f9r38tg1q6dqi6</string>
	<key>API_KEY</key>
	<string>AIzaSyBeXmh_MuZ5rYL9Puo60_1e4s-8DvuGnNU</string>
	<key>GCM_SENDER_ID</key>
	<string>143325030784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusLinkTeachers</string>
	<key>PROJECT_ID</key>
	<string>campus-link-6f11f</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-link-6f11f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143325030784:ios:a2459120190aab3192f965</string>
</dict>
</plist>